{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Case Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span class="teal-text text-darken-3">
            {{ case.name }}
          </span>
        </span>
        <p>
          <span class="teal-text">
            <strong>
              DATE:
            </strong>
          </span>
          <strong>
            {{ case.date }}
          </strong>
        </p>
        <p>
          <span class="teal-text">
            <strong>
              LOCATION:
            </strong>
          </span>
          {{ case.location }}
        </p>
        <br>
        <p>
          <span class="teal-text">
            <strong>
              DESCRIPTION:
            </strong>
          </span>
          <span>
            <i>
              {{ case.description }}
            </i>
          </span>
        </p>
        <br>
        <p class="testP">
          <span class="teal-text">
            <strong>
              TOP REPORT:
            </strong>
          </span>
          <a style="font-size: 1vmin;" target="_blank" href="{{ case.news }}">{{ case.news }}</a>
        </p>
      </div>
      <div class="card-action">
        <a href="{% url 'cases_update' case.id %}" class="teal-text">Edit</a>
        <a href="{% url 'cases_delete' case.id %}" class="teal-text">Delete</a>
      </div>
    </div>

    <!-- Reporting UI -->
    <form action="{% url 'add_report' case.id %}" method="POST">
      {% csrf_token %}
      {{ reporting_form.as_p }}
      <input type="submit" class="btn" value='add report' />
    </form>
    <br>
    <table class="lighten-3 teal striped">
      <thead class="center-align">
        <tr>
          <th>Date</th>
          <th>Report</th>
        </tr>
      </thead>
      <tbody class="center-align">
        {% for reporting in case.reporting_set.all %}
        <tr>
          <td>{{reporting.date}}</td>
          <td>{{reporting.get_report_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <form action="{% url 'add_comment' case.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment">
    </form>
    <br>
    <table class="lighten-3 teal striped center-align">
      <thead class="center-align">
        <tr>
          <th>Author</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="center-align">
        {% for comment in comments %}
        <tr>
          <td>{{comment.author}}</td>
          <td>{{comment.text}}</td>
          <td>{{comment.created_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <button class="btn" onclick="window.location.href = '.../cases'" style="border-radius: 5px;">BACK</button>
  </div>
  <div class="col s6">
    {% for photo in case.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' case.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file" class="uploadBtn">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
    {% for video in case.video_set.all %}
    <video class="responsive-video card-panel" controls>
      <source src="{{video.url}}" type="video/mp4">
    </video>
    {% empty %}
    <div class="card-panel teal-text center-align">No Videos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_video' case.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="video-file" class="uploadBtn">
      <br><br>
      <button type="submit" class="btn">Upload Video</button>
    </form>
  </div>




  <!-- New Markup Above -->
</div>
<!-- Testimony UI 
  <div class="col s6">
    <form action="{}" method="POST">
      {% csrf_token %}
      {{ testimonies_form.as_p }}
    <br>
    <table class="lighten-3 teal striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Location</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for testimony in testimonies %}
        <tr>
          <td>{{testimony.date}}</td>
          <td>{{testimony.name}}</td>
          <td>{{testimony.location}}</td>
          <td>{{testimony.comment}}</td>
          <td>{{testimony.get_testimony_display}}</td>
        </tr>
        <form action="{% url 'assoc_testimony' case.id testimony.id %}" method="POST">
          {% csrf_token %}
          {{ testimonies_form.as_p }}
        </form>
        {% endfor %}
      </tbody>
    </table>
    <br><br>
    <input type="submit" class="btn" value="Add testimony">
    <br><br>
  </div>
  -->



</div>



<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const dateEle = document.getElementById('id_created_date');
  M.Datepicker.init(dateEle, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_report')
  M.FormSelect.init(selectEl);

  const testimonyEl = document.getElementById('id_testimony')
  M.FormSelect.init(testimonyEl);



</script>

{% endblock %}