html {
    font-family: 'Courier Prime', monospace;
}

body {
    background-color: whitesmoke;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: rgb(2, 18, 19);
} 
main {
    flex: 1 0 auto;
}

nav {
    text-shadow: -.5px .5px black;
}

h1 {
    color: rgb(173, 222, 222);
    text-shadow: -.5px .5px teal, -.75px .75px black, -1px 1px whitesmoke;
    font-size: 6.66vmin;
}
h3 {
    color: rgb(173, 222, 222);
    text-shadow: -.5px .5px teal, -.75px .75px black, -1px 1px whitesmoke;
    font-size: 5vmin;
}
h4 {
    color: rgb(173, 222, 222);
    text-shadow: -.5px .5px teal, -.75px .75px black, -1px 1px whitesmoke;
    font-size: 4.2vmin;
}
h5 {
    color: rgb(173, 222, 222);
    text-shadow: -.5px .5px teal, -.75px .75px black, -1px 1px whitesmoke;
    font-size: 3 vmin;
}

a {
    color: rgb(0, 85, 85);
}

p {
    font-size: 2.25vmin;
}

.card-content {
    text-overflow: clip;
    overflow: hidden;
}


.btn {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border: 1px solid teal;
    text-shadow: -.5px .5px black;
}

button:hover {
    background-color: rgb(105, 162, 162);
    color: whitesmoke;
    transform: scale(103%);
    transition: ease-in 173ms;
}


footer.page-footer {
    padding-top: 0;
    text-align: right;
    text-shadow: -.5px .5px black;
}
