{% extends 'base.html' %}
{% block content %}

<h1>Case Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ case.name }}</span>
    <p>Date: {{ case.date }}</p>
    <p>Location: {{ case.location }}</p>
    <p>Description: {{ case.description }}</p>
    <p>Declassified: {{ case.declassified }}</p>
    <p>FOIA: {{ case.foia }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'cases_update' case.id %}">Edit</a>
    <a href="{% url 'cases_delete' case.id %}">Delete</a>
  </div>
</div>
{% endblock %}