{% extends 'base.html' %}
{% block content %}

<h1>Case Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ case.name }}</span>
    <p>
      <strong>
        Date: 
      </strong>
    <strong class="teal-text">
      {{ case.date }}
    </strong>
    </p>

    <p>
      <strong>
        Location:
      </strong>
      <strong class="teal-text">
        {{ case.location }}
      </strong> 
    </p>
    <p>
      <strong>
        Description: 
      </strong>
      <i>
        {{ case.description }}
      </i>
    </p>
    <br><br>
    <p>
      <strong>
        Declassified: 
      </strong>
      <strong class="teal-text">
        {{ case.declassified }}
      </strong>
    </p>
    <p>
      <strong>
        FOIA: 
      </strong>
      {{ case.foia }}
    </p>
  </div>
  <div class="card-action">
    <a href="{% url 'cases_update' case.id %}" class="teal-text">Edit</a>
    <a href="{% url 'cases_delete' case.id %}" class="teal-text">Delete</a>
  </div>
</div>
{% endblock %}