{% extends 'base.html' %}
{% block content %}

<h1>Case Details</h1>
<div class="row">
 <div class="col s6">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <span class="teal-text text-darken-3">
          {{ case.name }}
        </span>
      </span>
      <p>
        <span class="teal-text">
          <strong>
            DATE: 
          </strong>
        </span>
      <strong>
        {{ case.date }}
      </strong>
      </p>
  
      <p>
        <span class="teal-text">
          <strong>
            LOCATION: 
          </strong>
        </span>
          {{ case.location }} 
      </p>
      <br>
      <p>
        <span class="teal-text">
          <strong>
            DESCRIPTION: 
          </strong>
        </span>
        <span class="">
          <i>
            {{ case.description }}
          </i>
        </span>
      </p>
      <br>
      <!-- <p>
        <strong>
          Declassified: 
        </strong>
        <strong class="teal-text">
          {{ case.declassified }}
        </strong>
      </p> -->
      <p class="testP">
        <span class="teal-text">
          <strong>
            TOP REPORT: 
          </strong>
        </span>
        <a href="{{ case.news }}">{{ case.news }}</a>
      </p>
    </div>
    <div class="card-action">
      <a href="{% url 'cases_update' case.id %}" class="teal-text">Edit</a>
      <a href="{% url 'cases_delete' case.id %}" class="teal-text">Delete</a>
    </div>
  </div>
    {% for photo in case.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' case.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
  </form>
  </div>
  <!-- Reporting UI -->
  <div class="col s6">
    <form action="{% url 'add_report' case.id %}" method="POST">
      {% csrf_token %}
      {{ reporting_form.as_p }}
      <input type="submit" class="btn" value='add report'/>
    </form>
    <br>
    <table class="lighten-3 teal striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Report</th>
        </tr>
      </thead>
      <tbody>
        {% for reporting in case.reporting_set.all %}
        <tr>
          <td>{{reporting.date}}</td>
          <td>{{reporting.get_report_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 
  <!-- Testimony UI -->
  <div class="col s6">
    <form action="{}" method="POST">
      {% csrf_token %}
      {{ testimonies_form.as_p }}
    <br>
    <table class="lighten-3 teal striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Location</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for testimony in testimonies %}
        <tr>
          <td>{{testimony.date}}</td>
          <td>{{testimony.name}}</td>
          <td>{{testimony.location}}</td>
          <td>{{testimony.comment}}</td>
          <td>{{testimony.get_testimony_display}}</td>
        </tr>
        <form action="{% url 'assoc_testimony' case.id testimony.id %}" method="POST">
          {% csrf_token %}
          {{ testimonies_form.as_p }}
        </form>
        {% endfor %}
      </tbody>
    </table>
    <br><br>
    <input type="submit" class="btn" value="Add testimony">
    <br><br>
  </div>
 
  
  </div>
</div>



<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_report')
  M.FormSelect.init(selectEl);
  
  const testimonyEl = document.getElementById('id_testimony')
  M.FormSelect.init(testimonyEl);

</script>

{% endblock %}