{% extends 'base.html' %} {% block content %}

<h3> About us</h3>
<p>
    Welcome to 
    <strong>
        <span style="font-size: 1.75vmin;" class="teal-text">
              Clearance.  
        </span>
    </strong>    
</p>
<p>
    Your one-stop informational database for confirmed UAP/UFO sightings, encounters, crash retrievals and testimonials; bringing <span class="teal-text">transparency</span> to <span class="teal-text">disclosure</span>.
</p>
<p>
    Each <span class="teal-text">CASE</span> that's entered contains each incident's location, date, description <i>and</i> verification of its classified status, as well as its FOIA documents and/or pertinent official publications.
</p>
<p>
    And, if that wasn't enough to sate you each CASE has a corresponding link to its official <span class="teal-text">REPORTS</span>, filtered between its media category:
    <strong>
        Internet, Newspaper Articles, Press Conferences and Television.
    </strong>
</p>
<p>
    Seen something?
    <strong>
        ...say something.
    </strong>
</p>
<p>
    We allow USERS who've witnessed anomalous phenomena to leave <span class="teal-text">WITNESS TESTIMONIALS</span>.
</p>
<img src="https://ca-times.brightspotcdn.com/dims4/default/1c9520b/2147483647/strip/true/crop/329x220+1+0/resize/320x214!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fef%2F19%2Fbabc908f4e75b9c305adad951a59%2Fufo-zoomed.gif" alt="">
<p>Ready? Click <span class="teal-text">SIGN UP</span> below</p> to create your USER NAME and join <span class="teal-text">Clearance</span>.
<br>
<br>
<button onclick="window.location.href = '/accounts/signup'">SIGN UP</button>


{% endblock %}