{% extends 'base.html' %} 
{% block content %}
<h4>Welcome to <span class="teal-text">CLEARANCE</span></h4>
{% if user.is_authenticated %}

{% else %}
<h5>Select <span class="teal-text">REGISTER</span> or <span class="teal-text">LOG IN</span></h5>


<br>
<button class="btn" onclick="window.location.href = '/accounts/signup'" style="border-radius: 5px;">SIGN UP</button>
<br><br>
<button class ="btn" onclick="window.location.href = '/accounts/login'" style="border-radius: 5px;">LOG IN</button>



{% endif %}
{% endblock %}